html[data-theme="flat-dark-theme"],
html:not([data-theme]) {
  color-scheme: dark;
  --select-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='%239d9d9d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
  --radius: 0.5rem;
  --background: 0 0% 11.8%;
  --foreground: 0 0% 95.3%;
  --card: 240 3% 14.9%;
  --card-foreground: 0 0% 95.3%;
  --popover: 240 3% 14.9%;
  --popover-foreground: 0 0% 95.3%;
  --primary: 207 100% 41.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 17.6%;
  --secondary-foreground: 0 0% 95.3%;
  --muted: 0 0% 17.6%;
  --muted-foreground: 0 0% 61.6%;
  --accent: 207 100% 41.6%;
  --accent-foreground: 0 0% 100%;
  --destructive: 354 84% 49%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 24.7%;
  --input: 0 0% 20%;
  --ring: 207 100% 41.6%;
  --success: 120 78% 27%;
  --warn: 45 100% 50%;
  --warn-border: 40 90% 45%;
  --info: 207 100% 41.6%;
  --info-border: 207 55% 48%;
}
